* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css variables */
:root {
    --bg-body: #E8F0F8;
    --weather-right-panel: #D0E7F5;
    --body-font: "Inter", sans-serif;
    --heading-font: "Poppins", sans-serif;
    --font-base: 16px;
    --primary-color: #1A2E4F;
    --secondary-color: #4F6A85;
    --white: #ffffff;
    --accent-color: #00AEEF;
    --alert-color: #FF6B6B;
}

body {
    background-color: var(--bg-body);
    height: 100vh;
    font-family: var(--body-font);
    color: var(--primary-color);
    animation: fadeIn 2s ease-in-out;
}

.box-container {
    max-width: 1350px;
    margin: auto;
    padding: 20px 40px;
}

/*******************************/
/*****1.Header-section-lg*******/
/*******************************/
.header {
    margin-bottom: 50px;
    background: linear-gradient(to right, #0f172a, #1e3a8a);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    animation: slideDown 2s ease;
}

.logo h1 {
    color: var(--white);
    font-family: var(--heading-font);
    font-size: 24px;
    font-weight: 700;
}

.search-input {
    padding: 8px 10px;
    border-radius: 12px;
    font-family: var(--heading-font);
    font-size: 16px;
    transition: all 0.3s ease;
}

.search-input:focus {
    box-shadow: 0 0 0 3px #077EB0;
    outline: none;
}

#search-button {
    background-color: #055E85;
    color: var(--white);
    font-family: var(--heading-font);
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    border: 2px solid var(--white);
    border-radius: 12px;
    flex: 1;
    transition: all 0.3s ease;
    cursor: pointer;
}

#search-button:hover {
    background-color: #077EB0;
    transform: scale(1.05);
}

#current-location-button {
    background-color: #055E85;
    color: var(--white);
    font-family: var(--heading-font);
    font-size: 16px;
    font-weight: 500;
    border: 2px solid var(--white);
    padding: 5px 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#current-location-button:hover {
    background-color: #077EB0;
    transform: scale(1.05);
}

/*******************************/
/*****2.Weather-section-lg******/
/*******************************/
.weather {
    background-color: var(--white);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s ease-in-out;
    border: 5px solid red;
}

.right-panel {
    background-color: #D0E7F5;
    padding: 1rem;
    border-radius: 16px;
    animation: scaleIn 1s ease-in-out;
}

.left-panel {
    text-align: center;
}

.left-panel h1,
.right-panel h1 {
    font-size: 1.5rem;
    font-weight: 700;
    animation: pulse 2s infinite ease-in-out;
}

.left-panel h2,
.right-panel h2 {
    font-size: 0.8rem;
    font-weight: 700;
    animation: pulse 2s infinite ease-in-out;
}

.temperature-data {
    display: flex;
    flex-direction: column;
    gap: 0px 50px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.temperature-data h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.temperature-data i {
    font-size: 2rem;
    color: var(--accent-color);
}

.temparature-card-container {
    margin: 20px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.temparature-card {
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    background: slategray;
}

.temparature-card h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hourly-forecast-container {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.hourly-forecast-card {
    background-color: slategray;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
}

.hourly-forecast-card h1 {
    text-align: center;
}

.hourly-forecast-card p {
    text-align: center;
}

.hourly-forecast-data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hourly-forecast-card img {
    width: 40px;
    height: 40px;
    background-color: gainsboro;
    border-radius: 50%;
}

.weather-description {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.weather-description img {
    width: 50px;
    height: 50px;
    background-color: gainsboro;
    border-radius: 50%;
}

.day-based-forecast-container {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.day-forecast-card {
    background-color: var(--white);
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
}

.day-forecast-data {
    display: flex;
    align-items: center;
    gap: 0px 10px;
    margin-top: 15px;
}

.day-forecast-data img {
    width: 40px;
    height: 40px;
    background-color: gainsboro;
    border-radius: 50%;
}

/*******************************/
/*****3.Footer-section-lg*******/
/*******************************/
.footer {
    margin-top: 50px;
    background-color: transparent;
    border: 2px solid black;
}

.footer p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 40px 0;
}

/* css more animation-making */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }
}