* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css variables */
:root {
    --left-panel-bg: #4a5868;
    --right-panel-bg: #9bb4c5;
    --inter-font: "Inter", sans-serif;
    --poppins-font: "Poppins", sans-serif;
    --base-font: 16px;
    --data-font: 14px;
    --text-color: #1e293b;
    --white: #ffffff;
    --secondary-color: #526583;
    --alert-color: #FF6B6B;
}

body {
    height: 100vh;
    font-family: var(--inter-font);
    color: var(--text-color);
    animation: fadeIn 2s ease-in-out;
}

.box-container {
    max-width: 1350px;
    margin: auto;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 24px;
    font-family: var(--poppins-font);
    font-weight: 700;
    margin-bottom: 15px;
}

h2 {
    font-size: 18px;
    font-family: var(--inter-font);
    font-weight: 500;
    margin-bottom: 15px;
}

h3 {
    font-size: var(--base-font);
    font-family: var(--inter-font);
    font-weight: 500;
    margin-bottom: 10px;
}

p {
    font-size: var(--data-font);
    font-family: var(--inter-font);
    font-weight: 400;
}

i {
    font-size: var(--base-font);
}

.unit {
    margin-left: 3px;
    opacity: 0.9;
}

/*******************************/
/*****1.Header-section-lg*******/
/*******************************/
.header {
    margin-bottom: 50px;
    padding: 20px 40px;
    background: linear-gradient(to right, #0f172a, #1e3a8a);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    animation: slideDown 2s ease;
}

.logo h1 {
    color: var(--white);
    font-family: var(--poppins-font);
    margin-bottom: 0;
}

.search-input {
    padding: 8px 10px;
    border-radius: 12px;
    font-family: var(--poppins-font);
    font-size: var(--base-font);
    transition: all 0.4s ease;
}

.search-input:focus {
    box-shadow: 0 0 0 3px #077EB0;
    outline: none;
}

#search-button {
    background-color: #055E85;
    color: var(--white);
    font-family: var(--poppins-font);
    font-size: var(--base-font);
    font-weight: 500;
    padding: 5px 10px;
    border: 2px solid var(--white);
    border-radius: 12px;
    flex: 1;
    transition: all 0.4s ease;
    cursor: pointer;
}

#search-button:hover {
    background-color: #077EB0;
    transform: scale(1.05);
}

#current-location-button {
    background-color: #055E85;
    color: var(--white);
    font-family: var(--poppins-font);
    font-size: var(--base-font);
    font-weight: 500;
    border: 2px solid var(--white);
    padding: 5px 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.4s ease;
    cursor: pointer;
}

#current-location-button:hover {
    background-color: #077EB0;
    transform: scale(1.05);
}

/*******************************/
/*****2.Weather-section-lg******/
/*******************************/
.weather {
    display: grid;
    grid-template-columns: 40% 60%;
    animation: fadeInUp 1s ease-in-out;
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    background-color: var(--left-panel-bg);
    text-align: center;
    animation: fadeInUp 1s ease-in-out;
}

.right-panel {
    padding: 30px 40px;
    background-color: #D0E7F5;
    animation: scaleIn 1s ease-in-out;
}


.left-panel h1 {
    animation: pulse 2s infinite ease-in-out;
}

.temperature-data {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temperature-data i {
    color: var(--accent-color);
}

.weather-description {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.weather-description img {
    width: 50px;
    height: 50px;
    background-color: gainsboro;
    border-radius: 50%;
}

.temparature-card-container {
    background: var(--white);
    color: var(--text-color);
    margin-top: 40px;
    padding: 20px;
    border-radius: 16px;
    width: 80%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
    border-bottom: 1px solid var(--secondary-color);
}

.row:last-child {
    border-bottom: none;
}

.hourly-forecast-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.hourly-forecast-card {
    width: 130px;
    background-color: var(--white);
    color: var(--text-color);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.hourly-forecast-card h2 {
    margin-bottom: 0;
}

.hourly-forecast-data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hourly-forecast-card img {
    width: 40px;
    height: 40px;
    background-color: gainsboro;
    border-radius: 50%;
}

.day-based-forecast-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.day-forecast-card {
    width: 210px;
    height: 105px;
    background-color: var(--white);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.day-forecast-data {
    display: flex;
    align-items: center;
    gap: 0px 10px;
    margin-top: 15px;
}

.day-forecast-data h2 {
    margin-bottom: 0;
}

.day-forecast-data img {
    width: 40px;
    height: 40px;
    background-color: gainsboro;
    border-radius: 50%;
}

/*******************************/
/*****3.Footer-section-lg*******/
/*******************************/
.footer {
    margin-top: 50px;
    background-color: #0f172a;
    padding: 20px 40px;
}

.footer p,
.footer h1 {
    font-size: var(--base-font);
    color: var(--white);
    font-family: var(--poppins-font);
    font-weight: 500;
    text-align: center;
}

.footer h1 {
    margin-top: 10px;
}

.footer h1 a {
    color: #7DA3FC;
    animation: pulse 4s infinite ease-in-out;
    border-bottom: 2px solid #7DA3FC;
}

/* css more animation-making */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }
}